[submodule "Event-Driven-Spiking-Neural-Network-Accelerator-for-FPGA"]
	path = Event-Driven-Spiking-Neural-Network-Accelerator-for-FPGA
	url = https://github.com/Cengo0/Event-Driven-Spiking-Neural-Network-Accelerator-for-FPGA
